# PROFILE SERVICE #

# App
PROJECT_NAME=Profile_Service
DEBUG=True
APP_ENV=development
JWT_SECRET_KEY=secrets.token_urlsafe(32)

# Database Configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=profiles
